@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import "antd/dist/reset.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Itim", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.root {
  min-width: 100vw;
  min-height: 100vh;
}
.Header {
  display: flex;
  max-width: 375px;
  max-height: 94px;
  justify-content: space-between;
}
.HeaderText {
  padding: 0px 3px;
  display: flex;
  color: #dddddd;
  align-items: center;
  font: normal normal 32px/32px "Itim";
  background-color: #de0000;
  width: 70%;
}
.LoginForm {
  font: normal normal 28px/22px "Itim";
  padding-top: 15px;
  padding-left: 5px;
  margin-bottom: 20px;
}
.LoginBtnContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px;
}
.LanguageButton {
  width: 130px;
  line-height: 20px;
  font-size: 14px;
  height: 45px;
  background: transparent;
  border: 0.2px solid #c7c7c7a2;
  box-shadow: 0px 10px 8px -8px #000;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 5px;
}
.LoginFieldForm {
  max-width: 370px;
  padding: 0px 5px;
}
.LoginFieldFormItem {
  width: 90%;
  margin-bottom: 10px;
}
.LoginFieldFormItem .ant-form-item-label .ant-form-item-required {
  font: normal normal 16px/16px "Itim";
  flex-direction: row-reverse;
  gap: 3px;
}
.LoginFieldFormItem input {
  height: 40px;
}
.LoginFieldFormItem .ant-btn {
  width: 100%;
  margin-top: 10px;
}
